.wrapper {
  position: relative;
}

.divSample {
  height: auto;
  width: 100%;
  aspect-ratio: 3 / 1;
}

.textSample {
  font-size: 5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
